* {
  border-style: solid;
  border-width: 0;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}
