.Editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Editor .field {
  display: flex;
}

.Editor .ant-btn {
  width: 100%;
}

.Editor h2 {
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.Editor h2:first-child {
  margin-top: 0;
}

.Editor .ant-tabs-nav .ant-tabs-tab {
  margin-left: 16px;
}

.Editor .EditorTabs {
  flex-grow: 1;
}

.Editor .ant-tabs {
  display: flex;
  flex-direction: column;
}

.Editor .ant-tabs-bar {
  margin-bottom: 0;
}

.Editor .ant-tabs-tabpane {
  overflow-y: scroll;
  padding: 15px;
}

.Editor .EditorButtons {
  padding: 15px;
}
