.Sidebar {
  position: fixed;
  z-index: 3;
  right: 0;
  bottom: 0;
  width: 350px;
  top: 50px;
  background: white;
  border-left: 1px solid #dddfe2;
  transform: translateX(100%);
  transition: 0.2s transform;
  display: flex;
  flex-direction: column;
}

.Sidebar.visible {
  transform: translateX(0);
}

.SidebarClose {
  text-align: right;
  padding: 15px;
  padding-bottom: 0;
}

.SidebarClose i {
  cursor: pointer;
  opacity: 0.4;
}

.SidebarClose i:hover {
  opacity: 0.6;
}
