footer {
  display: flex;
  padding: 20px 15px;
  padding-left: 87px;
  z-index: 4;
  align-items: center;
  background-color: white;
}

footer a {
  margin: 0 15px;
  color: #606770;
}

footer a:hover {
  color: #8FD0C6;
}
