@import url('https://fonts.googleapis.com/css?family=Barlow');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  color: #303845;
  font-size: 16px;
}

h1,
h2 {
  font-weight: 500;
}

.gatsby-highlight pre[class*="language-"] {
  background: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 15px;
}

.Page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.PageContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.PageContent.withSpacing {
  padding-top: 35px;
}
