name: Validate SwiftPM

on:
  pull_request:
  push:
    branches:
      - main
      - 'release-*'
  workflow_dispatch:

jobs:
  test:
    name: Build
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup-apple

      - name: Build Debug
        run: swift build -c debug

      - name: Build Release
        run: swift build -c release
