name: Android

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build (${{ matrix.mode }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: [Debug, Release]

    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup-android

      - name: Build
        run: ./gradlew assemble${{ matrix.mode }} --stacktrace
